<% layout('/layouts/boilerplate') %>
    <h1>Edit Member</h1>
    <form action="/members/<%= member._id %>?_method=PUT" method="post">
        <div>
            <label for="handle">Username</label>
            <input type="text" name="member[handle]" id="handle" placeholder="Username" value="<%= member.handle %>">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="member[email]" id="email" placeholder="Email" value="<%= member.email %>">
        </div>
        <button>Save Changes</button>
    </form>
    <a href="/members/<%= member._id %> ">Back to Member</a>