<% layout('/layouts/boilerplate') %>
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Testing</h1>
    <p class="lead">Currently there is not a whole lot going on here...</p>
  </div>
</main>