<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Post</h1>
  <div class="col-6 offset-3">
    <form action="/posts/<%= post._id %>?_method=PUT" method="post" class="validated-form" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <!-- <label for="title">Title</label> -->
        <input type="text" class="form-control" name="post[title]" id="title" placeholder="Title" value="<%= post.title %>" required>
        <div class="valid-feedback">
          Nice.
        </div>
      </div>
      <input type="file" name="image" id="" multiple>
      <div class="mb-3">
        <!-- <label for="description">Description</label> -->
        <textarea class="form-control" name="post[description]" id="description" placeholder="Description" required><%= post.description %></textarea>
        <div class="valid-feedback">
          Close Enough.
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-info">Save Changes</button>
      </div>
    </form>
    <a class="btn btn-danger" href="/posts/<%= post._id%>">Cancel</a>
  </div>
</div>